<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultado da Busca</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-size: 14px;
    }
    .container {
      padding: 0;
    }
    .table {
      margin-bottom: 0;
    }
    .table td, .table th {
      padding: 0.5rem;
      font-size: 0.9em;
    }
    .table th {
      font-size: 0.9em;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Resultado da Busca</h1>
    <% if (resultados.length > 0) { %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nr. Matrícula</th>
              <th scope="col">Associado</th>
              <th scope="col">Dt. Movimento</th>
              <th scope="col">Código Operação</th>
              <th scope="col">Nome Operação</th>
              <th scope="col">Complemento Operação</th>
              <th scope="col">Tipo Operação Capital</th>
              <th scope="col">Qtde de Cotas</th>
              <th scope="col">Valor do Capital</th>
            </tr>
          </thead>
          <tbody>
            <% 
            let totalCotas = 0;
            let totalValorMovimento = 0;
            resultados.forEach(resultado => {
              // Lista de códigos a serem subtraídos
              const codigosSubtrair = ['1210','1228','1229', '1230', '1231', '1232', '1233', '1236', '1246','1248', '1250', '1252', '1254','1284'];
              
              // Verifica se o código de operação está na lista de códigos a serem subtraídos
              if (codigosSubtrair.includes(resultado.codigo_operacao)) {
                // Subtrai o valor do capital e a quantidade de cotas se o código de operação estiver na lista
                resultado.valor_movimento = parseFloat(resultado.valor_movimento) * -1;
                resultado.qtde_cotas = parseInt(resultado.qtde_cotas) * -1;
              }
              
              // Calculando o total de qtde_cotas como apenas o número inteiro
              totalCotas += parseInt(resultado.qtde_cotas);
              // Somando o valor_movimento
              totalValorMovimento += parseFloat(resultado.valor_movimento);
            %>
              <tr>
                <td><%= resultado.nr_matricula %></td>
                <td><%= resultado.pes_no_pessoa %></td>
                <td><%= new Date(resultado.dt_movimento).toLocaleDateString('pt-BR') %></td>
                <td><%= resultado.codigo_operacao %></td>
                <td><%= resultado.nome_operacao %></td>
                <td><%= resultado.complemento_operacao %></td>
                <td><%= resultado.tipo_operacao_capital %></td>
                <td><%= parseInt(resultado.qtde_cotas).toLocaleString('pt-BR') %></td> <!-- Adicionando ponto nos milhares -->
                <td>R$ <%= parseFloat(resultado.valor_movimento).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) %></td> <!-- Adicionando ponto nos milhares e fixando duas casas decimais -->
              </tr>
            <% }) %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="7" class="text-right">Total:</th>
              <th>-</th>
              <th>R$ <%= totalValorMovimento.toLocaleString('pt-BR', { minimumFractionDigits: 2 }) %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    <% } else { %>
      <div class="alert alert-warning" role="alert">
        Nenhum resultado encontrado.
      </div>
    <% } %>
  </div>
</body>
</html>
